node_modules/
package-lock.json
package-lock.json
dist/about-2.html
src/about-2.html
dist/video/creativity-purpose-high.mp4
dist/video/ennely-screen-capture.mp4
dist/video/power-automate-intro.mp4
dist/video/power-automate-win-11.mp4
dist/video/profile-final-no-subs.mp4
dist/video/vasilis-kolip-short-intro.mp4
dist/video/vasilis-kolip-short-intro-final.mp4
src/video/creativity-purpose-high.mp4
src/video/ennely-screen-capture.mp4
src/video/power-automate-intro.mp4
src/video/power-automate-win-11.mp4
src/video/profile-final-no-subs.mp4
src/video/vasilis-kolip-short-intro.mp4
src/video/vasilis-kolip-short-intro-final.mp4
dist/js/about-debug.js
dist/js/homepage-debug.js
dist/js/meta-debug.js
dist/js/microsoft-debug.js
dist/js/voicemod-debug.js
_everything/
src/video/final-with-stumble.mp4
dist/video/final-with-stumble.mp4
dist/video/ennely.mp4
src/video/ennely.mp4
/intro-video
