/*custom variables*/
$primary: #16013E;
$secondary: #FDF3E7;
$success: #00C9A5;
$danger: #FF415C;
$info: #007BFF;
$light: #D3CBD3;
$dark: #16013E;
$modal-backdrop-bg: $secondary;
$modal-backdrop-opacity: .96;


@import 'bootstrap/_functions.scss';
@import 'bootstrap/variables.scss';

/*theme colors*/
$custom-theme-colors: (
  "accent": #00C9A5,
  "background": #FFFBF5,
  "secondary-darker": #F2E9DF,
  "petrol": #007A8B,
  "green": #005A38,
  "mustard": #B79313,
  "oranje": #DF7134,
  "light-blue": #41BAFF,
  "light-purple": #BBA4FF,
  "luscious-purple": #3F34A4,
  "fluo-yellow": #F2FD54,
  "fluo-green": #84FA71,
  "gray-50": #F4EFEC,
  "gray-100": #F2EDEA,
  "gray-300": #E0E0E0,
  "gray-400": #BDBDBD,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import 'bootstrap/bootstrap.scss';

@font-face {
    font-family:'gt_america_extended_bold';
    src:url('../fonts/gt_america_extended_bold.woff2') format('woff2'),
        url('../fonts/gt_america_extended_bold.woff') format('woff');
    font-style:normal;
    font-weight: 00;
}

@font-face {
  font-family:'gt_america_extended_regular';
  src:url('../fonts/gt_america_extended_regular.woff2') format('woff2'),
      url('../fonts/gt_america_extended_regular.woff') format('woff');
  font-style:normal;
  font-weight: 400;
}

/*lenis stuff*/
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
}
/*lenis stuff end*/

body {
  background: #FFFBF5;
  font-family: 'gt_america_extended_regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #16013E;
  overflow-x: hidden;
}

h1 {
  font-family:'gt_america_extended_bold';
  font-size: 2.25rem;
  font-style: normal;
  line-height: normal;
}

p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 203%; /* 32.48px */
}

strong {
  font-family:'gt_america_extended_bold';
}

mark, .mark {
  background-color: $success;
  color: #FFFBF5;
}

#scrollableDiv1, #scrollableDiv2, #scrollableDivImprovements, #scrollableDivImages, #userJourneyScroll, .cursorGrab, #wireframesScroll {
  cursor: grab;
}

.userJourneyStep:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 18px;
  margin-top: 10px;
  margin-left: 138%;
  background-image: url("../img/misc/shapes/arrow-right.svg");
  background-repeat: no-repeat;
}

.vfrc-launcher {
  display: none !important;
}

.isometric-card {
  margin: 0 auto;
  /*transform: rotateX(51deg) rotateZ(43deg);*/
  transform: rotateX(19deg) rotateZ(-14deg) rotateY(17deg);
  transform-style: preserve-3d;
  will-change: transform;
  width: 100%;
  height: 100%;
  transition: 0.4s ease-in-out transform, 0.3s ease-in-out box-shadow;
}


.bg-secondary-gradient {
  background: linear-gradient(180deg, #FFFBF5 0%, #FDF3E7 46.62%);
}

.body-bold {
  font-family:'gt_america_extended_bold';
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 203%; /* 32.48px */
}

.section-title {
  font-family:'gt_america_extended_bold';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;  
}

.semi-title {
  font-family:'gt_america_extended_bold';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 203%; /* 2.5375rem */
}

.nav-pills {
  transition: .3s all;
}

.sticky-top .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: inherit !important;
  background-color: transparent;
  border-radius: 0 !important;
  transition: .05s all;  
  font-weight: bold;
}

.sticky-top .nav-pills .nav-link.active:before {
  content: "";
  width: 4px;
  height: 30px;
  position: absolute;
  margin-top: -6px;
  left: -5px;
  background-color: #16013e;
}

.subtitle {
  font-family: 'gt_america_extended_regular', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 203%; /* 1.5225rem */
}

.font-weight-bold {
  font-family: gt_america_extended_bold; 
}

.font-weight-normal {
  font-family: 'gt_america_extended_regular', sans-serif;
  font-weight: 400;
}

.border-radius {
  border-radius: 24px !important;
}

.large-shadow {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.10);
}

.the-border {
  border: 1px solid #D3CBD3;
}

.horizontal {
  overflow-x: hidden;
}

.horizontal .pin-wrap,
.horizontal .animation-wrap {
  display: flex;
  position: relative;
  z-index: 1;
}

a:hover, button:hover, .pointer {
  cursor: url(../img/misc/hand.png),pointer !important;
}

.main-navbar {
  height: 90px;
  left: 0;
  top: 0;
  transition: ease .4s;
  &--scrolled {
    height: 40px;
  }
}

.tooltip {
  font-family: 'gt_america_extended_regular', sans-serif;
}

.sticky-top {
  top: 50px;
}

#toTop {
  left: 20px; 
  bottom: 40px; 
  z-index: 3; 
  display: none;
}

.panel {
  opacity: 0;
  transition: .3s all;
}

.selectedWork {
  transition: .3s all; 
}

.close-button {
  font-size: 20px;
  width: 2em;
  height: 2em;
  border: 0;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  z-index: 30;
  right: 15px;
  left: auto
}

.close-button:focus {
  outline: 0
}

.close-button:hover .icon {
  height: .95em;
  width: .95em
}

.close-button:active .icon,
.close-button:focus .icon {
  height: .7em;
  width: .7em
}

.close-button:before {
  content:"";
  width: 2.2em;
  height: 2.2em;
  z-index: -1;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2)
}

.close-button .icon,
.close-button .icon-wrap {
  position:absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}

.close-button .icon-wrap {
  border-radius: 50%;
  width: 1.79em;
  height: 1.79em;
  background-color: #fff;
  transition: .3s all;
}

.close-button .icon {
  display: block;
  height: .85em;
  width: .85em;
  -webkit-transition: all .1s linear;
  transition: all .1s linear
}

.close-button .progress-wrap {
  width: 2em;
  height: 2em;
  z-index: -1;
  border-radius: 50%;
  display: block;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden
}

.close-button .progress-circle {
  fill: transparent;
  stroke: $success;
  stroke-width: 5;
  stroke-dashoffset: 0
}

.close-button .progress-wrap {
  position: absolute;
  pointer-events: none;
  -webkit-transition: translate .3s linear;
  transition: translate .3s linear;
  -webkit-transform-origin: 1em 1em;
  transform-origin: 1em 1em;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.noUnderline {
  text-decoration: none !important;
}

.top12vh {
  top: 12vh;
}

.top10px {
  top: 10px;
}

.top20px {
  top: 20px;
}

.top30px {
  top: 30px;
}

.top40px {
  top: 40px;
}

.top50px {
  top: 50px;
}

.top60px {
  top: 60px;
}

.minHeight1vh {
  min-height: 1vh;
}

.minHeight2vh {
  min-height: 2vh;
}

.minHeight3vh {
  min-height: 3vh;
}

.minHeight5vh {
  min-height: 5vh;
}

.minHeight10vh {
  min-height: 10vh;
}

.minHeight15vh {
  min-height: 15vh;
}

.minHeight20vh {
  min-height: 20vh;
}

.minHeight25vh {
  min-height: 25vh;
}

.minHeight30vh {
  min-height: 30vh;
}

.minHeight35vh {
  min-height: 35vh;
}

.minHeight40vh {
  min-height: 40vh;
}

.minHeight45vh {
  min-height: 45vh;
}

.minHeight50vh {
  min-height: 50vh;
}

.minHeight55vh {
  min-height: 55vh;
}

.minHeight60vh {
  min-height: 60vh;
}

.minHeight65vh {
  min-height: 65vh;
}

.minHeight70vh {
  min-height: 70vh;
}

.minHeight75vh {
  min-height: 75vh;
}

.minHeight80vh {
  min-height: 80vh;
}

.minHeight85vh {
  min-height: 85vh;
}

.minHeight90vh {
  min-height: 90vh;
}

.minHeight95vh {
  min-height: 95vh;
}

.minHeight100vh {
  min-height: 100vh;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.voiceChangeContainer .form-check {
  background-color: #FFFBF5;
  transition: .1s all;
}

.voiceChangeContainer .form-check:hover {
  background-color: $dark;
}

.voiceChangeContainer .form-check:hover p {
  color: #fffbf5;
}

.voiceChangeContainer .form-check.activeVoice {
  background-color: $dark;
}

.activeVoice:after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -110px;
  background-image: url("../img/misc/shapes/checked-tick.svg");
}

.dotted-bg {
   /* diameter of the circle */
   --d: 2px; 
   
   background : radial-gradient(
     circle at 
        var(--d) 
        var(--d), 
        
     #E0E0E0 calc(var(--d) - 1px), 
     #FFFBF5 var(--d)
   ) 
   0 0 / 25px 25px;
}

.playBtn {
  animation: ripple 1.2s linear infinite;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75,0.75,1);
  }
  
  to {
    opacity: 0;
    transform: scale3d(1.5,1.5,1);
  }
}

.fancy-arrow {
  transition: .3s all;
}

.voice-progress {
  position: relative;
  width: 100%;
  height: 66px;
  overflow: hidden;
}

.playing_progress {
  width: 0;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

/*homepage design process*/
.design-cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  padding: 0;
  margin: 0;
}

.design-card {
  --spacing: 1rem;
  position: relative;
  height: 564px;
  top: var(--spacing);
  z-index: 5;
  padding: 2rem;
  box-sizing: border-box;
  height: 500px;
}

.design-card:nth-child(2) {
  top: calc(var(--spacing) * 2);
  z-index: 4;
  transform: rotate(-3deg);
}

.design-card:nth-child(3) {
  top: calc(var(--spacing) * 3);
  z-index: 3;
  transform: rotate(-6deg);
}

.design-card:nth-child(4) {
  top: calc(var(--spacing) * 4);
  z-index: 2;
  transform: rotate(-9deg);
}

.design-card:nth-child(5) {
  top: calc(var(--spacing) * 5);
  z-index: 1;
  transform: rotate(-12deg);
}

.design-card:nth-child(6) {
  top: calc(var(--spacing) * 12);
  z-index: 0;
}
/*homepage design process end*/

#accessibility .form-check-input:checked {
  background-color: #12ebfd;
  border-color: #12ebfd;
}


@include media-breakpoint-up(xs) {
    html, body {
        font-size: 1rem !important;
    }
    .bigger-1 {
        font-size: 1.1rem !important;
    }
    .bigger-2 {
        font-size: 1.2rem !important;
    }
    .bigger-3 {
        font-size: 1.3rem !important;
    }
    .bigger-4 {
        font-size: 1.4rem !important;
    }
    .bigger-5 {
        font-size: 1.5rem !important;
    }
    .bigger-6 {
        font-size: 1.6rem !important;
    }
    .smaller-1 {
        font-size: .9rem !important;
    }
    .smaller-2 {
        font-size: .8rem !important;
    }
    .smaller-3 {
        font-size: .8rem !important;
    }
    .smaller-4 {
        font-size: .8rem !important;
    }
    .smaller-5 {
        font-size: .8rem !important;
    }
    .smaller-6 {
        font-size: .8rem !important;
    }
    .minHeight75vh {
        min-height: 59vh;
    }
    .profileCarousel {
        min-height: 365px;
    }
}


@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
    .display-1 {
        font-size: 5rem;
    }
    .bigger-1 {
        font-size: 1.2rem !important;
    }
    .bigger-2 {
        font-size: 1.4rem !important;
    }
    .bigger-3 {
        font-size: 1.6rem !important;
    }
    .bigger-4 {
        font-size: 1.8rem !important;
    }
    .bigger-5 {
        font-size: 2rem !important;
    }
    .bigger-6 {
        font-size: 2.5rem !important;
    }
    .smaller-1 {
        font-size: 1rem !important;
    }
    .smaller-2 {
        font-size: 1rem !important;
    }
    .smaller-3 {
        font-size: 1rem !important;
    }
    .smaller-4 {
        font-size: 1rem !important;
    }
    .smaller-5 {
        font-size: .5rem !important;
    }
    .smaller-6 {
        font-size: .4rem !important;
    }
    .minHeight75vh {
        min-height: 75vh;
    }

}

@include media-breakpoint-up(md) {
    html, body {
        font-size: 1rem !important;
    }
    .display-1 {
        font-size: 6rem;
    }
    .bigger-1 {
        font-size: 1rem !important;
    }
    .bigger-2 {
        font-size: 1.2rem !important;
    }
    .bigger-3 {
        font-size: 1.4rem !important;
    }
    .bigger-4 {
        font-size: 1.5rem !important;
    }
    .bigger-5 {
        font-size: 1.6rem !important;
    }
    .bigger-6 {
        font-size: 1.8rem !important;
    }
    .smaller-1 {
        font-size: 1rem !important;
    }
    .smaller-2 {
        font-size: 1rem !important;
    }
    .smaller-3 {
        font-size: 1rem !important;
    }
    .smaller-4 {
        font-size: 1rem !important;
    }
    .smaller-5 {
        font-size: .5rem !important;
    }
    .smaller-6 {
        font-size: .4rem !important;
    }
    .profileCarousel {
        min-height: 265px;
    }

}

@include media-breakpoint-up(lg) {
    html, body {
        font-size: 1rem !important;
    }
    .bigger-1 {
        font-size: 1.2rem !important;
    }
    .bigger-2 {
        font-size: 1.4rem !important;
    }
    .bigger-3 {
        font-size: 1.6rem !important;
    }
    .bigger-4 {
        font-size: 1.8rem !important;
    }
    .bigger-5 {
        font-size: 2rem !important;
    }
    .bigger-6 {
        font-size: 2.5rem !important;
    }
    .smaller-1 {
        font-size: 1rem !important;
    }
    .smaller-2 {
        font-size: .9rem !important;
    }
    .smaller-3 {
        font-size: .8rem !important;
    }
    .smaller-4 {
        font-size: .7rem !important;
    }
    .smaller-5 {
        font-size: .6rem !important;
    }

}