/*custom variables*/
$primary: #3A2D52;
$secondary: #FDF3E7;
$success: #00C9A5;
$danger: #FF415C;
$info: #007BFF;
$light: #D3CBD3;
$dark: #16013E;

@import 'bootstrap/_functions.scss';
@import 'bootstrap/variables.scss';

/*theme colors*/
$custom-theme-colors: (
  "accent": #00C9A5,
  "background": #FFFBF5,
  "petrol": #007A8B,
  "green": #005A38,
  "mustard": #B79313,
  "oranje": #DF7134,
  "light-blue": #41BAFF,
  "light-purple": #BBA4FF,
  "luscious-purple": #3F34A4,
  "fluo-yellow": #F2FD54,
  "fluo-green": #84FA71,
  "gray-50": #F4EFEC,
  "gray-100": #F2EDEA,
  "gray-300": #E0E0E0,
  "gray-400": #F2EDEA,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import 'bootstrap/bootstrap.scss';
/*@import 'fontawesome/fontawesome.scss';*/

/*@font-face {
  font-family: 'Noe Display';
  src: url('../fonts/NoeDisplay-Black.eot');
  src: url('../fonts/NoeDisplay-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/NoeDisplay-Black.woff') format('woff'), url('../fonts/NoeDisplay-Black.ttf') format('truetype'), url('../fonts/NoeDisplay-Black.svg#NoeDisplay-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu-light';
  src: url('../fonts/Apercu-Light.eot');
  src: url('../fonts/Apercu-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Apercu-Light.woff') format('woff'), url('../fonts/Apercu-Light.ttf') format('truetype'), url('../fonts/Apercu-Light.svg#Apercu-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('../fonts/Apercu-Regular.eot');
  src: url('../fonts/Apercu-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Apercu-Regular.woff') format('woff'), url('../fonts/Apercu-Regular.ttf') format('truetype'), url('../fonts/Apercu-Regular.svg#Apercu-Regular') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/fa-solid-900.eot');
  src: url('../fonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
      url('../fonts/fa-solid-900.woff2') format('woff2'),
      url('../fonts/fa-solid-900.woff') format('woff'),
      url('../fonts/fa-solid-900.ttf') format('truetype'),
      url('../fonts/fa-solid-900.svg#fontawesome') format('svg');
}

@font-face {
    font-family: 'amerigo_bt_roman';
    src: url('../fonts/amerigo_bt_roman.woff2') format('woff2'),
         url('../fonts/amerigo_bt_roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amerigo_bt_medium';
    src: url('../fonts/amerigo_bt_medium.woff2') format('woff2'),
         url('../fonts/amerigo_bt_medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/fa-brands-400.eot');
  src: url('../fonts/fa-brands-400.eot?#iefix') format('embedded-opentype'),
      url('../fonts/fa-brands-400.woff2') format('woff2'),
      url('../fonts/fa-brands-400.woff') format('woff'),
      url('../fonts/fa-brands-400.ttf') format('truetype'),
      url('../fonts/fa-brands-400.svg#fontawesome') format('svg');
}

.fab {
  font-family: 'Font Awesome 5 Brands';
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fa-regular-400.eot');
  src: url('../fonts/fa-regular-400.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fa-regular-400.woff2') format('woff2'),
  url('../fonts/fa-regular-400.woff') format('woff'),
  url('../fonts/fa-regular-400.ttf') format('truetype'),
  url('../fonts/fa-regular-400.svg#fontawesome') format('svg');
}

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}*/

@font-face {
    font-family:'gt_america_extended_bold';
    src:url('../fonts/gt_america_extended_bold.woff2') format('woff2'),
        url('../fonts/gt_america_extended_bold.woff') format('woff');
    font-style:normal;
    font-weight:700;
}

@font-face {
  font-family:'gt_america_extended_regular';
  src:url('../fonts/gt_america_extended_regular.woff2') format('woff2'),
      url('../fonts/gt_america_extended_regular.woff') format('woff');
  font-style:normal;
  font-weight:400;
}

body {
  background: #FFFBF5;
  font-family: 'gt_america_extended_regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #16013E;
  overflow-x: hidden;
}

h1 {
  font-family:'gt_america_extended_bold';
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 203%; /* 32.48px */
}

strong {
  font-family:'gt_america_extended_bold';
}

.body-bold {
  font-family:'gt_america_extended_bold';
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 203%; /* 32.48px */
}

.section-title {
  font-family:'gt_america_extended_bold';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;  
}

.semi-title {
  font-family:'gt_america_extended_bold';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 203%; /* 2.5375rem */
}

.subtitle {
  font-family: 'gt_america_extended_regular', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 203%; /* 1.5225rem */
}

.font-weight-bold {
  font-family: gt_america_extended_bold; 
}

.font-weight-normal {
  font-family: 'gt_america_extended_regular', sans-serif;
  font-weight: 400;
}

.border-radius {
  border-radius: 24px;
}

.large-shadow {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.10);
}

.the-border {
  border: 1px solid #D3CBD3;
}

section.horizontal {
  overflow-x: hidden;
}

section.horizontal .pin-wrap,
section.horizontal .animation-wrap {
    display: flex;
    position: relative;
    z-index: 1;
}

a:hover, button:hover {
  cursor: url(../img/misc/hand.png),pointer !important;
}

.main-navbar {
  height: 90px;
  left: 0;
  top: 0;
  transition: ease 0.4s;
  &--scrolled {
    height: 40px;
  }
}

.tooltip {
    font-family: 'gt_america_extended_regular', sans-serif;
}

.sticky-top {
    top: 50px;
}

#toTop {
  right: 100px; 
  bottom: -5px; 
  z-index: 3; 
  display: none;
}

progress {
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  border: none;
  background: transparent;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: linear-gradient(to left, #db38b5,#01b3e3,#25ce7b,#fdc741,#ff6b01,#fc4236);
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: linear-gradient(to left, #db38b5,#01b3e3,#25ce7b,#fdc741,#ff6b01,#fc4236);
  background-attachment: fixed;
}

.noUnderline {
  text-decoration: none !important;
}

.top-10 {
  top: 20px;
}

.minHeight10vh {
  min-height: 10vh;
}

.minHeight20vh {
  min-height: 20vh;
}

.minHeight30vh {
  min-height: 30vh;
}

.minHeight45vh {
  min-height: 45vh;
}

.minHeight55vh {
  min-height: 55vh;
}

.minHeight60vh {
  min-height: 60vh;
}

.minHeight75vh {
  min-height: 75vh;
}

.minHeight90vh {
  min-height: 90vh;
}

.minHeight100vh {
  min-height: 100vh;
}

.right-0 {
    right: 0;
}


/*homepage design process*/
.design-cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  padding: 0;
  margin: 0;
}

.design-card {
  --spacing: 1rem;
  position: relative;
  height: 564px;
  /*display: flex;
  justify-content: top;
  align-items: left;
  flex-direction: column;*/
  top: var(--spacing);
  z-index: 5;
  padding: 2rem;
  box-sizing: border-box;
}

.design-card:nth-child(2) {
  top: calc(var(--spacing) * 2);
  z-index: 4;
  transform: rotate(-3deg);
}

.design-card:nth-child(3) {
  top: calc(var(--spacing) * 3);
  z-index: 3;
  transform: rotate(-6deg);
}

.design-card:nth-child(4) {
  top: calc(var(--spacing) * 4);
  z-index: 2;
  transform: rotate(-9deg);
}

.design-card:nth-child(5) {
  top: calc(var(--spacing) * 5);
  z-index: 1;
  transform: rotate(-12deg);
}

.design-card:nth-child(6) {
  top: calc(var(--spacing) * 12);
  z-index: 0;
}
/*homepage design process end*/

@include media-breakpoint-up(xs) {
    html, body {
        font-size: 1rem !important;
    }
    .display-1 {
        font-size: 2rem;
    }
    .bigger-1 {
        font-size: 1.1rem !important;
    }
    .bigger-2 {
        font-size: 1.2rem !important;
    }
    .bigger-3 {
        font-size: 1.3rem !important;
    }
    .bigger-4 {
        font-size: 1.4rem !important;
    }
    .bigger-5 {
        font-size: 1.5rem !important;
    }
    .bigger-6 {
        font-size: 1.6rem !important;
    }
    .smaller-1 {
        font-size: .9rem !important;
    }
    .smaller-2 {
        font-size: .8rem !important;
    }
    .smaller-3 {
        font-size: .7rem !important;
    }
    .smaller-4 {
        font-size: .6rem !important;
    }
    .smaller-5 {
        font-size: .5rem !important;
    }
    .smaller-6 {
        font-size: .4rem !important;
    }
    .minHeight75vh {
        min-height: 59vh;
    }
    .profileCarousel {
        min-height: 365px;
    }
}


@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
    .display-1 {
        font-size: 5rem;
    }
    .bigger-1 {
        font-size: 1.2rem !important;
    }
    .bigger-2 {
        font-size: 1.4rem !important;
    }
    .bigger-3 {
        font-size: 1.6rem !important;
    }
    .bigger-4 {
        font-size: 1.8rem !important;
    }
    .bigger-5 {
        font-size: 2rem !important;
    }
    .bigger-6 {
        font-size: 2.5rem !important;
    }
    .smaller-1 {
        font-size: 1rem !important;
    }
    .smaller-2 {
        font-size: 1rem !important;
    }
    .smaller-3 {
        font-size: 1rem !important;
    }
    .smaller-4 {
        font-size: 1rem !important;
    }
    .smaller-5 {
        font-size: .5rem !important;
    }
    .smaller-6 {
        font-size: .4rem !important;
    }
    .minHeight75vh {
        min-height: 75vh;
    }

}

@include media-breakpoint-up(md) {
    html, body {
        font-size: 1rem !important;
    }
    .display-1 {
        font-size: 6rem;
    }
    .bigger-1 {
        font-size: 1rem !important;
    }
    .bigger-2 {
        font-size: 1.2rem !important;
    }
    .bigger-3 {
        font-size: 1.4rem !important;
    }
    .bigger-4 {
        font-size: 1.5rem !important;
    }
    .bigger-5 {
        font-size: 1.6rem !important;
    }
    .bigger-6 {
        font-size: 1.8rem !important;
    }
    .smaller-1 {
        font-size: 1rem !important;
    }
    .smaller-2 {
        font-size: 1rem !important;
    }
    .smaller-3 {
        font-size: 1rem !important;
    }
    .smaller-4 {
        font-size: 1rem !important;
    }
    .smaller-5 {
        font-size: .5rem !important;
    }
    .smaller-6 {
        font-size: .4rem !important;
    }
    .profileCarousel {
        min-height: 265px;
    }

}

@include media-breakpoint-up(lg) {
    html, body {
        font-size: 1rem !important;
    }
    .bigger-1 {
        font-size: 1.2rem !important;
    }
    .bigger-2 {
        font-size: 1.4rem !important;
    }
    .bigger-3 {
        font-size: 1.6rem !important;
    }
    .bigger-4 {
        font-size: 1.8rem !important;
    }
    .bigger-5 {
        font-size: 2rem !important;
    }
    .bigger-6 {
        font-size: 2.5rem !important;
    }
    .smaller-1 {
        font-size: 1rem !important;
    }
    .smaller-2 {
        font-size: .9rem !important;
    }
    .smaller-3 {
        font-size: .8rem !important;
    }
    .smaller-4 {
        font-size: .7rem !important;
    }
    .smaller-5 {
        font-size: .6rem !important;
    }

}