/*custom variables*/
$primary: #16013E;
$secondary: #FDF3E7;
$success: #00C9A5;
$danger: #FF415C;
$info: #007BFF;
$light: #D3CBD3;
$dark: #16013E;
$modal-backdrop-bg: $secondary;
$modal-backdrop-opacity: .96;

@import 'bootstrap/_functions.scss';
@import 'bootstrap/variables.scss';

/*theme colors*/
$custom-theme-colors: (
  "accent": #00C9A5,
  "background": #FFFBF5,
  "secondary-darker": #F2E9DF,
  "petrol": #007A8B,
  "green": #005A38,
  "mustard": #B79313,
  "oranje": #DF7134,
  "light-blue": #41BAFF,
  "light-purple": #BBA4FF,
  "luscious-purple": #3F34A4,
  "fluo-yellow": #F2FD54,
  "fluo-green": #84FA71,
  "gray-50": #F4EFEC,
  "gray-100": #F2EDEA,
  "gray-300": #E0E0E0,
  "gray-400": #BDBDBD,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import 'bootstrap/bootstrap.scss';

@font-face {
    font-family:'gt_america_extended_bold';
    src:url('../fonts/gt_america_extended_bold.woff2') format('woff2'),
        url('../fonts/gt_america_extended_bold.woff') format('woff');
    font-style:normal;
    font-weight: 00;
}

@font-face {
  font-family:'gt_america_extended_regular';
  src:url('../fonts/gt_america_extended_regular.woff2') format('woff2'),
      url('../fonts/gt_america_extended_regular.woff') format('woff');
  font-style:normal;
  font-weight: 400;
}

/*lenis stuff*/
html, html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
}
/*lenis stuff end*/

body {
  background: #FFFBF5;
  font-family: 'gt_america_extended_regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #16013E;
  overflow-x: hidden;
  cursor: url(
            "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='31' fill='none' viewBox='0 0 26 31'%3E%3Cpath fill='%23fff' fill-rule='evenodd' stroke='%23010101' stroke-linecap='square' stroke-width='2.5' d='M21.993 14.425 2.549 2.935l4.444 23.108 4.653-10.002 10.347-1.616Z' clip-rule='evenodd'/%3E%3C/svg%3E"
          ),auto;
}

input[type="checkbox"] {
    cursor: url(
            "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='31' fill='none' viewBox='0 0 26 31'%3E%3Cpath fill='%23fff' fill-rule='evenodd' stroke='%23010101' stroke-linecap='square' stroke-width='2.5' d='M21.993 14.425 2.549 2.935l4.444 23.108 4.653-10.002 10.347-1.616Z' clip-rule='evenodd'/%3E%3C/svg%3E"
          ),auto;
}

  
p, h1, h2, h3, h4, h5, h6, input[type="text"], input[type="tel"], input[type="email"], input[type="search"], li {
  cursor: url(
      "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='25' fill='none' viewBox='0 0 13 25'%3E%3Cpath fill='%23000' stroke='%23fff' stroke-width='1.75' d='M8 18.48v-4.23h1.27v-3H8V5.8c.2-.44.5-.82.87-1.14.23-.16.52-.32.83-.44a5.4 5.4 0 0 1 1.17-.05l.87.05.05-.87.08-1.27.06-.87-.88-.06c-.7-.04-1.4 0-2.1.14l-.05.01-.06.02c-.7.25-1.29.56-1.82.95L7 2.28l-.03.02c-.16.13-.31.28-.46.42a6.93 6.93 0 0 0-.39-.38l-.03-.03-.03-.02a5.86 5.86 0 0 0-1.85-.97l-.04-.01-.04-.01a8.1 8.1 0 0 0-2.19-.16l-.87.06.06.87.08 1.27.06.88.87-.06c.43-.03.85 0 1.27.08.23.08.5.21.74.4.33.3.63.72.84 1.19v5.42H3.72v3h1.27v4.2c-.21.47-.51.89-.88 1.24-.2.14-.46.28-.75.37-.36.07-.8.1-1.22.06l-.87-.05-.06.87-.08 1.27-.06.88.87.05c.71.05 1.42 0 2.12-.14h.04l.04-.02a5.83 5.83 0 0 0 1.88-.95l.03-.02.03-.03.44-.43c.14.14.28.27.44.4l.02.02.02.01c.55.42 1.14.73 1.76.95l.05.02.06.01c.77.17 1.47.22 2.17.18l.88-.05-.05-.87-.07-1.27-.05-.87-.87.04c-.42.03-.83 0-1.24-.08-.24-.1-.52-.25-.8-.45A3.4 3.4 0 0 1 8 18.48Z'/%3E%3C/svg%3E"
    ),auto;
}

.cursorNormal {
  cursor: url(
            "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='31' fill='none' viewBox='0 0 26 31'%3E%3Cpath fill='%23fff' fill-rule='evenodd' stroke='%23010101' stroke-linecap='square' stroke-width='2.5' d='M21.993 14.425 2.549 2.935l4.444 23.108 4.653-10.002 10.347-1.616Z' clip-rule='evenodd'/%3E%3C/svg%3E"
          ),auto;
}


h1 {
  font-family:'gt_america_extended_bold';
  font-size: 2.25rem;
  font-style: normal;
  line-height: normal;
}

p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 203%; /* 32.48px */
}

strong {
  font-family:'gt_america_extended_bold';
}

.btn {
  transition: all 0.2s ease-in-out 0s !important;
}

.btn-outline-primary:hover {
  box-shadow: #00c9a8 1px 1px, #00c9a8 2px 2px, #00c9a8 3px 3px;
  transform: translate3d(-4px, -4px, 0px);
}

.btn-primary:hover {
  box-shadow: #00c9a8 1px 1px, #00c9a8 2px 2px, #00c9a8 3px 3px;
  transform: translate3d(-4px, -4px, 0px);
}

/*profile page desk setups*/
#app {
  width: 100%;
  height: 70%;
  margin: 0;
  padding: 0;
}

#app {
  opacity: 0;
  height: auto;
}

#DeskAlt {
  transition: .3s all;
}

#app img {
  display: block;
}

#detail {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#detailImg {
  width: 85%;
  height: 85%;
}

#detailTxt {
  color: #ccc;
  font-size: 20px;
  letter-spacing: 1px;
}

.design-process svg {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

#headlines {
  max-width: 800px;
  min-width: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/*profile page desk setups end*/

.coolGradientBG {
  background: radial-gradient(#FFFBF5, #F9F6FF, #F3FFFD, #FFFBF5);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  width: 100%;
}

.coolGradientBG:after {
  content: "";
  width: 100%;
  height: 200px;
  position: absolute;
  margin-top: -200px;
  background: linear-gradient(0deg, rgba(255, 251, 245, 1), rgba(255, 251, 245, 0) );
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 80% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cvImage {
  transition: .3s all;
}

.cvImage:hover {
  margin-top: 10px !important;
}

mark, .mark {
  background-color: $success;
  color: #FFFBF5;
}

#scrollableDiv1, #scrollableDiv2, #scrollableDivImprovements, #scrollableDivImages, #userJourneyScroll, .cursorGrab, #wireframesScroll, .grab {
  cursor: url(
            "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none' viewBox='0 0 28 28'%3E%3Cpath fill='%23fff' d='M8.32 14.57c-.15-.58-.31-1.35-.65-2.46-.33-1.1-.54-1.36-.74-1.95-.21-.59-.48-1.14-.8-1.87A19.2 19.2 0 0 1 5.4 6c-.13-.65.03-1.33.45-1.86.57-.55 1.39-.76 2.16-.55.6.26 1.1.7 1.46 1.25.47.75.85 1.55 1.14 2.38.45 1.15.77 2.33.97 3.54l.14.72V9.64c0-1.6-.1-2.9 0-4.67 0-.2.1-.94.13-1.14.04-.69.45-1.3 1.06-1.6.7-.3 1.52-.3 2.22 0 .64.3 1.06.9 1.1 1.6 0 .17.14 1.58.14 1.76V11.37c.04-2.1.22-4.19.54-6.26.19-.65.65-1.18 1.26-1.48.75-.3 1.6-.15 2.22.39.46.5.73 1.14.76 1.82v5.64c.14-.45.3-.86.43-1.18.13-.32.38-.97.57-1.36.2-.38.41-.75.65-1.1.25-.4.62-.71 1.07-.89a1.59 1.59 0 0 1 2.06.94c.1.58.1 1.17 0 1.75-.1.88-.3 1.76-.56 2.62-.2.7-.43 1.95-.54 2.53-.1.6-.36 2.2-.57 2.9-.3.83-.73 1.61-1.25 2.33a11.5 11.5 0 0 0-1.9 2.87 6.43 6.43 0 0 0 .04 3.05 9.2 9.2 0 0 1-1.95 0c-.62-.1-1.38-1.33-1.59-1.72a.6.6 0 0 0-1.08 0c-.36.6-1.13 1.7-1.67 1.77-1.06.12-3.25 0-4.98 0 0 0 .3-1.6-.37-2.16-.66-.57-1.31-1.24-1.8-1.68l-1.32-1.47c-.45-.57-1-1.73-1.97-3.17-.56-.8-1.59-1.73-2.03-2.5a2.78 2.78 0 0 1-.3-2.1 1.92 1.92 0 0 1 2.17-1.37c.74.05 1.43.35 1.97.86.42.37.82.76 1.19 1.19.25.3.32.44.6.8.29.37.48.74.34.2'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.25' d='M8.32 14.57c-.15-.58-.31-1.35-.65-2.46-.33-1.1-.54-1.36-.74-1.95-.21-.59-.48-1.14-.8-1.87A19.2 19.2 0 0 1 5.4 6c-.13-.65.03-1.33.45-1.86.57-.55 1.39-.76 2.16-.55.6.26 1.1.7 1.46 1.25.47.75.85 1.55 1.14 2.38.45 1.15.77 2.33.97 3.54l.14.72V9.64c0-1.6-.1-2.9 0-4.67 0-.2.1-.94.13-1.14.04-.69.45-1.3 1.06-1.6.7-.3 1.52-.3 2.22 0 .64.3 1.06.9 1.1 1.6 0 .17.14 1.58.14 1.76V11.37c.04-2.1.22-4.19.54-6.26.19-.65.65-1.18 1.26-1.48.75-.3 1.6-.15 2.22.39.46.5.73 1.14.76 1.82v5.64c.14-.45.3-.86.43-1.18.13-.32.38-.97.57-1.36.2-.38.41-.75.65-1.1.25-.4.62-.71 1.07-.89a1.59 1.59 0 0 1 2.06.94c.1.58.1 1.17 0 1.75-.1.88-.3 1.76-.56 2.62-.2.7-.43 1.95-.54 2.53-.1.6-.36 2.2-.57 2.9-.3.83-.73 1.61-1.25 2.33a11.5 11.5 0 0 0-1.9 2.87 6.43 6.43 0 0 0 .04 3.05 9.2 9.2 0 0 1-1.95 0c-.62-.1-1.38-1.33-1.59-1.72a.6.6 0 0 0-1.08 0c-.36.6-1.13 1.7-1.67 1.77-1.06.12-3.25 0-4.98 0 0 0 .3-1.6-.37-2.16-.66-.57-1.31-1.24-1.8-1.68l-1.32-1.47c-.45-.57-1-1.73-1.97-3.17-.56-.8-1.59-1.73-2.03-2.5a2.78 2.78 0 0 1-.3-2.1 1.92 1.92 0 0 1 2.17-1.37c.74.05 1.43.35 1.97.86.42.37.82.76 1.19 1.19.25.3.32.44.6.8.29.37.48.74.34.2'/%3E%3Cpath fill='%23000' d='M19.3 20.3v-6.24c0-.38-.3-.68-.68-.68-.38 0-.7.3-.7.68v6.23c0 .38.32.68.7.68.38 0 .69-.3.69-.68ZM16.13 20.3l-.01-6.25c0-.37-.31-.67-.69-.67-.37 0-.68.3-.68.68l.02 6.24c0 .37.3.67.68.67.38 0 .69-.3.68-.68ZM11.59 14.07l.03 6.22c0 .38.3.68.68.68.37 0 .67-.31.67-.69l-.04-6.22c0-.38-.3-.68-.67-.68a.68.68 0 0 0-.67.69Z'/%3E%3C/svg%3E"
          ),auto;
}

.grabbing {
    cursor: url(
            "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='25' fill='none' viewBox='0 0 28 25'%3E%3Cpath fill='%23fff' d='M6.81 3.46c.9-.34 2.68-.13 3.14.88.47 1.01.75 2.32.77 2-.03-.97.05-1.93.25-2.88.2-.6.68-1.08 1.29-1.3a3.61 3.61 0 0 1 1.72-.1c.58.12 1.1.45 1.44.93.44 1.1.68 2.25.73 3.43.05-1 .22-2 .5-2.96.32-.44.77-.76 1.3-.9a5.2 5.2 0 0 1 1.87 0c.5.17.95.49 1.27.92.4 1 .64 2.04.71 3.1 0 .27.13-.72.55-1.38a1.88 1.88 0 1 1 3.55 1.2v4.23c-.07 1.1-.22 2.18-.45 3.25-.32.95-.78 1.85-1.35 2.68a13.51 13.51 0 0 0-2.22 3.39 7.71 7.71 0 0 0 .03 3.6c-.76.07-1.53.07-2.3 0-.73-.12-1.63-1.58-1.87-2.03a.71.71 0 0 0-1.27 0c-.41.71-1.33 2-1.87 2.08-1.26.15-3.86 0-5.88 0 0 0 .36-1.87-.43-2.55-.79-.67-1.55-1.46-2.13-1.98L4.6 17.35a8.33 8.33 0 0 1-2.32-3.75c-.4-1.76-.35-2.6 0-3.3a2.8 2.8 0 0 1 1.6-1.23c.54-.1 1.1-.06 1.64.12.37.15.68.4.92.73.43.58.58.86.39.22-.19-.63-.6-1.1-.8-1.87-.4-.9-.65-1.88-.72-2.86.08-.9.7-1.64 1.56-1.88'/%3E%3Cpath stroke='%23000' stroke-linejoin='round' stroke-width='2.25' d='M6.81 3.46c.9-.34 2.68-.13 3.14.88.47 1.01.75 2.32.77 2-.03-.97.05-1.93.25-2.88.2-.6.68-1.08 1.29-1.3a3.61 3.61 0 0 1 1.72-.1c.58.12 1.1.45 1.44.93.44 1.1.68 2.25.73 3.43.05-1 .22-2 .5-2.96.32-.44.77-.76 1.3-.9a5.2 5.2 0 0 1 1.87 0c.5.17.95.49 1.27.92.4 1 .64 2.04.71 3.1 0 .27.13-.72.55-1.38a1.88 1.88 0 1 1 3.55 1.2v4.23c-.07 1.1-.22 2.18-.45 3.25-.32.95-.78 1.85-1.35 2.68a13.52 13.52 0 0 0-2.22 3.39 7.71 7.71 0 0 0 .03 3.6c-.76.07-1.53.07-2.3 0-.73-.12-1.63-1.58-1.87-2.03a.71.71 0 0 0-1.27 0c-.41.71-1.33 2-1.87 2.08-1.26.15-3.86 0-5.88 0 0 0 .36-1.87-.43-2.55-.79-.67-1.55-1.46-2.13-1.98L4.6 17.35a8.33 8.33 0 0 1-2.32-3.75c-.4-1.76-.35-2.6 0-3.3a2.8 2.8 0 0 1 1.6-1.23c.54-.1 1.1-.06 1.64.12.37.15.68.4.92.73.43.58.58.86.39.22-.19-.63-.6-1.1-.8-1.87-.4-.9-.65-1.88-.72-2.86.04-.9.64-1.68 1.5-1.95Z' clip-rule='evenodd'/%3E%3Cpath fill='%23000' d='M19.29 18.3v-6.24c0-.38-.3-.68-.69-.68-.38 0-.69.3-.69.68v6.23c0 .38.3.68.69.68.38 0 .69-.3.69-.68ZM16.12 18.3l-.02-6.25c0-.37-.3-.67-.68-.67-.38 0-.68.3-.68.68l.01 6.24c0 .37.31.67.69.67.37 0 .68-.3.68-.68ZM11.57 12.07l.04 6.22c0 .38.3.68.67.68.37 0 .67-.31.67-.69l-.04-6.22c0-.38-.3-.68-.67-.68a.68.68 0 0 0-.67.69Z'/%3E%3C/svg%3E"
          ),auto !important;
}

.userJourneyStep:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 18px;
  margin-top: 10px;
  margin-left: 138%;
  background-image: url("../img/misc/shapes/arrow-right.svg");
  background-repeat: no-repeat;
}

.isometric-card {
  margin: 0 auto;
  /*transform: rotateX(51deg) rotateZ(43deg);*/
  transform: rotateX(19deg) rotateZ(-14deg) rotateY(17deg);
  transform-style: preserve-3d;
  will-change: transform;
  width: 100%;
  height: 100%;
  transition: 0.4s ease-in-out transform, 0.3s ease-in-out box-shadow;
}


.bg-secondary-gradient {
  background: linear-gradient(180deg, #FFFBF5 0%, #FDF3E7 46.62%);
}

.body-bold {
  font-family:'gt_america_extended_bold';
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 203%; /* 32.48px */
}

.section-title {
  font-family:'gt_america_extended_bold';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;  
}

.semi-title {
  font-family:'gt_america_extended_bold';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 203%; /* 2.5375rem */
}

.nav-pills {
  transition: .3s all;
}

.sticky-top .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: inherit !important;
  background-color: transparent;
  border-radius: 0 !important;
  transition: .05s all;  
  font-weight: bold;
}

.sticky-top .nav-pills .nav-link.active:before {
  content: "";
  width: 4px;
  height: 30px;
  position: absolute;
  margin-top: -6px;
  left: -5px;
  background-color: #16013e;
}

.subtitle {
  font-family: 'gt_america_extended_regular', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 203%; /* 1.5225rem */
}

.font-weight-bold {
  font-family: gt_america_extended_bold; 
}

.font-weight-normal {
  font-family: 'gt_america_extended_regular', sans-serif;
  font-weight: 400;
}

.border-radius {
  border-radius: 24px !important;
}

.large-shadow {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.10);
}

.the-border {
  border: 1px solid #D3CBD3;
}

.horizontal {
  overflow-x: hidden;
}

.horizontal .pin-wrap,
.horizontal .animation-wrap {
  display: flex;
  position: relative;
  z-index: 1;
}

.competitive-analysis .nav-link:not(.active):after {
  content: "";
  width: 40px;
  height: 12px;
  background-image: url("../img/misc/shapes/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin-left: 20px;
  margin-top: 8px;
  transition: .1s all;
  opacity: 0;
}

.fancy {
  position: relative;
  white-space: nowrap;
  &:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
  }
}

.competitive-analysis .nav-link:hover:after {
  opacity: 1;
}

a:hover, button:hover, .pointer, button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: url(
            "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='29' fill='none' viewBox='0 0 28 29'%3E%3Cpath fill='%23fff' d='M6.84 21.83c-.47-.6-1.05-1.82-2.07-3.34-.58-.83-2.01-2.41-2.45-3.23a2.1 2.1 0 0 1-.25-1.67 2.2 2.2 0 0 1 2.39-1.67c.85.18 1.63.6 2.25 1.2.43.41.82.85 1.18 1.32.27.34.33.47.63.85.3.39.5.77.35.2-.11-.83-.31-2.23-.6-3.48-.21-.95-.26-1.1-.46-1.82s-.32-1.32-.54-2.13c-.2-.8-.35-1.62-.46-2.44a4.7 4.7 0 0 1 .43-3.08c.58-.55 1.44-.7 2.17-.37a4.4 4.4 0 0 1 1.57 2.17c.43 1.07.72 2.19.86 3.33.27 1.67.79 4.1.8 4.6 0-.61-.11-1.91 0-2.5.12-.6.54-1.1 1.12-1.33.5-.15 1.02-.19 1.53-.1.52.1.98.4 1.29.83.38.98.6 2 .63 3.05.04-.91.2-1.82.47-2.7.28-.39.68-.67 1.15-.8.55-.1 1.11-.1 1.66 0 .46.15.85.44 1.14.82.35.88.56 1.82.63 2.77 0 .23.12-.65.48-1.24a1.67 1.67 0 1 1 3.17 1.07v3.77c-.06.97-.2 1.94-.4 2.9-.29.85-.7 1.65-1.2 2.38-.8.9-1.48 1.92-1.98 3.02a6.67 6.67 0 0 0 .03 3.2c-.68.07-1.37.07-2.05 0-.65-.1-1.45-1.4-1.67-1.8a.63.63 0 0 0-1.13 0c-.37.64-1.18 1.79-1.75 1.85-1.12.14-3.42 0-5.23 0 0 0 .3-1.66-.39-2.27-.68-.6-1.38-1.3-1.9-1.76l-1.4-1.6Z'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.25' d='M6.84 21.83c-.47-.6-1.05-1.82-2.07-3.34-.58-.83-2.01-2.41-2.45-3.23a2.1 2.1 0 0 1-.25-1.67 2.2 2.2 0 0 1 2.39-1.67c.85.18 1.63.6 2.25 1.2.43.41.82.85 1.18 1.32.27.34.33.47.63.85.3.39.5.77.35.2-.11-.83-.31-2.23-.6-3.48-.21-.95-.26-1.1-.46-1.82s-.32-1.32-.54-2.13c-.2-.8-.35-1.62-.46-2.44a4.7 4.7 0 0 1 .43-3.08c.58-.55 1.44-.7 2.17-.37a4.4 4.4 0 0 1 1.57 2.17c.43 1.07.72 2.19.86 3.33.27 1.67.79 4.1.8 4.6 0-.61-.11-1.91 0-2.5.12-.6.54-1.1 1.12-1.33.5-.15 1.02-.19 1.53-.1.52.1.98.4 1.29.83.38.98.6 2 .63 3.05.04-.91.2-1.82.47-2.7.28-.39.68-.67 1.15-.8.55-.1 1.11-.1 1.66 0 .46.15.85.44 1.14.82.35.88.56 1.82.63 2.77 0 .23.12-.65.48-1.24a1.67 1.67 0 1 1 3.17 1.07v3.77c-.06.97-.2 1.94-.4 2.9-.29.85-.7 1.65-1.2 2.38-.8.9-1.48 1.92-1.98 3.02a6.67 6.67 0 0 0 .03 3.2c-.68.07-1.37.07-2.05 0-.65-.1-1.45-1.4-1.67-1.8a.63.63 0 0 0-1.13 0c-.37.64-1.18 1.79-1.75 1.85-1.12.14-3.42 0-5.23 0 0 0 .3-1.66-.39-2.27-.68-.6-1.38-1.3-1.9-1.76l-1.4-1.6Z' clip-rule='evenodd'/%3E%3Cpath fill='%23000' d='M20.65 22.3v-6.24c0-.38-.31-.68-.7-.68-.37 0-.68.3-.68.68v6.23c0 .38.3.68.69.68.38 0 .69-.3.69-.68ZM17.2 22.3l-.04-6.25a.67.67 0 1 0-1.34.01l.04 6.24a.67.67 0 1 0 1.34 0ZM12.37 16.07l.04 6.22c0 .38.3.68.67.68.37 0 .67-.3.67-.68l-.04-6.23c0-.38-.3-.68-.67-.68-.37 0-.67.31-.67.69Z'/%3E%3C/svg%3E"
          ),auto;
}

.text-info {
  position: relative;
  display: inline-block;
  padding: 0 4px;
  text-decoration: none;
  overflow: visible;
  transition: .3s all;
}

.text-info:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #1F93E6;
  box-sizing: border-box;
  opacity: 0;
  transition: .3s all;
}

.text-info:after {
  content: "";
  display: block;
  width: calc(100% + 3px);
  height: 38px;
  background-image: url("../img/misc/shapes/link-bounding-box.svg"), url("../img/misc/shapes/link-bounding-box.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 center, 100% center;
  position: absolute;
  margin-top: -36px;
  bottom: -2px;
  opacity: 0;
  transition: .3s all;
  left: 1px;
  margin-left: -3px;
}

footer .text-info:after {
  content: "";
  display: block;
  width: calc(100% + 3px);
  height: 32px;
  background-image: url("../img/misc/shapes/link-bounding-box-sm.svg"), url("../img/misc/shapes/link-bounding-box-sm.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 center, 100% center;
  position: absolute;
  margin-top: -36px;
  bottom: -4px;
  opacity: 0;
  transition: .3s all;
  left: -1px;
  margin-left: -1px;
}

.text-info:hover:before, .text-info:hover:after {
  opacity: 1;
}

.opporunityAfter:after {
  content: "";
  width: 100%;
  left: 0;
  position: absolute;
  background-color: #16013e;
  z-index: 1021;
}

.custom-tooltip {
  --bs-tooltip-bg: #1f93e6;;
  --bs-tooltip-color: var(--bs-white);
  font-size: 10px;
  text-align: center;
  arrow-color: black !important;
}

.tooltip-arrow:before {
  display: none;
}

.main-navbar {
  left: 0;
  top: 0;
  transition: ease .4s;
  &--scrolled {
    height: 40px;
  }
}

.tooltip {
  font-family: 'gt_america_extended_regular', sans-serif;
}

.sticky-top {
  top: 50px;
}

#toTop {
  left: 20px; 
  bottom: 24px; 
  z-index: 3; 
  display: none;
}

.panel {
  opacity: 0;
  transition: .3s all;
}

.selectedWork {
  transition: .3s all; 
}

.close-button {
  font-size: 20px;
  width: 2em;
  height: 2em;
  border: 0;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  z-index: 30;
  right: 15px;
  left: auto
}

.close-button:focus {
  outline: 0
}

.close-button:hover .icon {
  height: .95em;
  width: .95em
}

.close-button:active .icon,
.close-button:focus .icon {
  height: .7em;
  width: .7em
}

.close-button:before {
  content:"";
  width: 2.2em;
  height: 2.2em;
  z-index: -1;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2)
}

.close-button .icon,
.close-button .icon-wrap {
  position:absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}

.close-button .icon-wrap {
  border-radius: 50%;
  width: 1.79em;
  height: 1.79em;
  background-color: #fff;
  transition: .3s all;
}

.close-button .icon {
  display: block;
  height: .85em;
  width: .85em;
  -webkit-transition: all .1s linear;
  transition: all .1s linear
}

.close-button .progress-wrap {
  width: 2em;
  height: 2em;
  z-index: -1;
  border-radius: 50%;
  display: block;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden
}

.close-button .progress-circle {
  fill: transparent;
  stroke: $success;
  stroke-width: 5;
  stroke-dashoffset: 0
}

.close-button .progress-wrap {
  position: absolute;
  pointer-events: none;
  -webkit-transition: translate .3s linear;
  transition: translate .3s linear;
  -webkit-transform-origin: 1em 1em;
  transform-origin: 1em 1em;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.noUnderline {
  text-decoration: none !important;
}

.top12vh {
  top: 12vh;
}

.top10px {
  top: 10px;
}

.top20px {
  top: 20px;
}

.top30px {
  top: 30px;
}

.top40px {
  top: 40px;
}

.top50px {
  top: 50px;
}

.top60px {
  top: 60px;
}

.minHeight1vh {
  min-height: 1vh;
}

.minHeight2vh {
  min-height: 2vh;
}

.minHeight3vh {
  min-height: 3vh;
}

.minHeight5vh {
  min-height: 5vh;
}

.minHeight10vh {
  min-height: 10vh;
}

.minHeight15vh {
  min-height: 15vh;
}

.minHeight20vh {
  min-height: 20vh;
}

.minHeight25vh {
  min-height: 25vh;
}

.minHeight30vh {
  min-height: 30vh;
}

.minHeight35vh {
  min-height: 35vh;
}

.minHeight40vh {
  min-height: 40vh;
}

.minHeight45vh {
  min-height: 45vh;
}

.minHeight50vh {
  min-height: 50vh;
}

.minHeight55vh {
  min-height: 55vh;
}

.minHeight60vh {
  min-height: 60vh;
}

.minHeight65vh {
  min-height: 65vh;
}

.minHeight70vh {
  min-height: 70vh;
}

.minHeight75vh {
  min-height: 75vh;
}

.minHeight80vh {
  min-height: 80vh;
}

.minHeight85vh {
  min-height: 85vh;
}

.minHeight90vh {
  min-height: 90vh;
}

.minHeight95vh {
  min-height: 95vh;
}

.minHeight100vh {
  min-height: 100vh;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.voiceChangeContainer .form-check {
  background-color: #FFFBF5;
  transition: .1s all;
}

.voiceChangeContainer .form-check:hover {
  background-color: $dark;
}

.voiceChangeContainer .form-check:hover p {
  color: #fffbf5;
}

.voiceChangeContainer .form-check.activeVoice {
  background-color: $dark;
}

.activeVoice:after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -110px;
  background-image: url("../img/misc/shapes/checked-tick.svg");
}

.nav-link:focus-visible {
  outline: 0;
  box-shadow: none !important;
}

.dotted-bg:after, .dotted-bg2:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  --d: 2px;
  background : radial-gradient(
   circle at 
      var(--d) 
      var(--d), 
   #E0E0E0 calc(var(--d) - 1px), 
   #FFFBF5 var(--d)
  ) 
  0 0 / 25px 25px;
}

.playBtn {
  animation: ripple 1.2s linear infinite;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75,0.75,1);
  }
  
  to {
    opacity: 0;
    transform: scale3d(1.5,1.5,1);
  }
}

.fancy-arrow {
  transition: .3s all;
}

.progress {
  transition: 3s all;
}

.voice-progress {
  position: relative;
  width: 100%;
  height: 66px;
  overflow: hidden;
}

.playing_progress {
  width: 0;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

/*homepage design process*/
.design-cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  padding: 0;
  margin: 0;
}

.design-card {
  --spacing: 1rem;
  position: relative;
  height: 564px;
  top: var(--spacing);
  z-index: 5;
  padding: 2rem;
  box-sizing: border-box;
}

.design-card:nth-child(2) {
  top: calc(var(--spacing) * 2);
  z-index: 4;
  transform: rotate(-3deg);
}

.design-card:nth-child(3) {
  top: calc(var(--spacing) * 3);
  z-index: 3;
  transform: rotate(-6deg);
}

.design-card:nth-child(4) {
  top: calc(var(--spacing) * 4);
  z-index: 2;
  transform: rotate(-9deg);
}

.design-card:nth-child(5) {
  top: calc(var(--spacing) * 5);
  z-index: 1;
  transform: rotate(-12deg);
}

.design-card:nth-child(6) {
  top: calc(var(--spacing) * 12);
  z-index: 0;
}
/*homepage design process end*/

#accessibility .form-check-input:checked {
  background-color: #12ebfd;
  border-color: #12ebfd;
}


@include media-breakpoint-up(xs) {
    html, body {
        font-size: .9rem !important;
    }
    .bigger-1 {
        font-size: 1.1rem !important;
    }
    .bigger-2 {
        font-size: 1.2rem !important;
    }
    .bigger-3 {
        font-size: 1.3rem !important;
    }
    .bigger-4 {
        font-size: 1.4rem !important;
    }
    .bigger-5 {
        font-size: 1.5rem !important;
    }
    .bigger-6 {
        font-size: 1.6rem !important;
    }
    .smaller-1 {
        font-size: .9rem !important;
    }
    .smaller-2 {
        font-size: .8rem !important;
    }
    .smaller-3 {
        font-size: .8rem !important;
    }
    .smaller-4 {
        font-size: .8rem !important;
    }
    .smaller-5 {
        font-size: .8rem !important;
    }
    .smaller-6 {
        font-size: .8rem !important;
    }
    .minHeight75vh {
        min-height: 59vh;
    }
    .profileCarousel {
        min-height: 365px;
    }
    .design-card {
      height: 370px;
    }
    .divAfterTimeTravel {
      margin-top: 0px;
    }
}


@include media-breakpoint-up(sm) {
    html {
        font-size: .9rem;
    }
    .display-1 {
        font-size: 5rem;
    }
    .bigger-1 {
        font-size: 1.2rem !important;
    }
    .bigger-2 {
        font-size: 1.4rem !important;
    }
    .bigger-3 {
        font-size: 1.6rem !important;
    }
    .bigger-4 {
        font-size: 1.8rem !important;
    }
    .bigger-5 {
        font-size: 2rem !important;
    }
    .bigger-6 {
        font-size: 2.5rem !important;
    }
    .smaller-1 {
        font-size: 1rem !important;
    }
    .smaller-2 {
        font-size: 1rem !important;
    }
    .smaller-3 {
        font-size: 1rem !important;
    }
    .smaller-4 {
        font-size: 1rem !important;
    }
    .smaller-5 {
        font-size: .5rem !important;
    }
    .smaller-6 {
        font-size: .4rem !important;
    }
    .minHeight75vh {
        min-height: 75vh;
    }

}

@include media-breakpoint-up(md) {
    html, body {
        font-size: 1rem !important;
    }
    .display-1 {
        font-size: 6rem;
    }
    .bigger-1 {
        font-size: 1rem !important;
    }
    .bigger-2 {
        font-size: 1.2rem !important;
    }
    .bigger-3 {
        font-size: 1.4rem !important;
    }
    .bigger-4 {
        font-size: 1.5rem !important;
    }
    .bigger-5 {
        font-size: 1.6rem !important;
    }
    .bigger-6 {
        font-size: 1.8rem !important;
    }
    .smaller-1 {
        font-size: 1rem !important;
    }
    .smaller-2 {
        font-size: 1rem !important;
    }
    .smaller-3 {
        font-size: 1rem !important;
    }
    .smaller-4 {
        font-size: 1rem !important;
    }
    .smaller-5 {
        font-size: .5rem !important;
    }
    .smaller-6 {
        font-size: .4rem !important;
    }
    .profileCarousel {
        min-height: 265px;
    }

}

@include media-breakpoint-up(lg) {
    html, body {
        font-size: 1rem !important;
    }
    .bigger-1 {
        font-size: 1.2rem !important;
    }
    .bigger-2 {
        font-size: 1.4rem !important;
    }
    .bigger-3 {
        font-size: 1.6rem !important;
    }
    .bigger-4 {
        font-size: 1.8rem !important;
    }
    .bigger-5 {
        font-size: 2rem !important;
    }
    .bigger-6 {
        font-size: 2.5rem !important;
    }
    .smaller-1 {
        font-size: 1rem !important;
    }
    .smaller-2 {
        font-size: .9rem !important;
    }
    .smaller-3 {
        font-size: .8rem !important;
    }
    .smaller-4 {
        font-size: .7rem !important;
    }
    .smaller-5 {
        font-size: .6rem !important;
    }
    .design-card {
      height: 500px;
    }
    .divAfterTimeTravel {
      margin-top: -1100px;
    }

}